*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background: url(https://images8.alphacoders.com/119/1197445.jpg) ;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 100, 221);
    box-shadow: inset 0 0 0 2000px rgb(0 , 0, 0 , 0.7) ;
    
}

nav {
   display: flex;
   justify-content: space-between;
   padding: 1rem 0;
   
}
nav a {
    color: rgb(214, 48, 255);
    text-decoration: none;
    text-shadow: 0 0 10px rgb(255, 63, 255);
    border: ;
}

.logo a {
    font-size: 24px;
}

.header-info {
    margin-top: 5rem ;
    /* border: 1px solid red; */
    width: 440px;
    
}

.header-info h3 {
    font-size: 3rem;
    font-weight: lighter;
    text-shadow: rgb(190, 50, 255) 0 0 10px;
}

.header-btn {
    margin-top: 1rem;
    

}

.header-btn input {
    padding: 0.5rem;
    width: 230px;
    border: none;
    border-radius: 5px;
}

.header-btn button {
    padding: 0.5rem;
    width: 150px;
    background-color: rgb(255, 131, 255);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 1rem;
}

.about{
    text-align: center;
    padding: 3rem 0;
}
.about-con{
    padding: 0 10rem;
}

.about-title{
    color: rgb(190, 3, 190);
    font-size: 2rem;
    text-shadow: rgb(190, 50, 255) 0 0 10px;
}

.about-desc{
    color: rgb(121, 121, 121);
    margin: 1rem 0;
}

.about-img{
    margin: 3rem 0;


}

.pricing {
    background-color: plum;
    color: white;
    text-align: center;
    padding: 3rem 0;
    

}



.pricing-info h3  {
    font-weight: lighter;
    font-size: 2rem;
    text-shadow: rgb(0, 0, 0) 0 0 10px;
}

.pricing-info p {
    margin: 1rem 0;
}
.pricing-table {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 1rem;
    
}

.pricing-box{
    background-color: white;
    color: black;
    padding: 1rem;
}

.pricing-box-title {
    background-color: rgb(218, 218, 218);
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px;
}

.pricing-box-info {
    padding: 1rem;
}

.price-blue {
    color: blueviolet;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: blueviolet 0 0 5px;
}

.pricing-box-info p {
    margin: 0.5 0;
}

.pricing-more-info {
    margin-top: 2rem;
    display: inline-block;
    background-color: rgb(236, 4, 236);
    padding: 1rem;
    width: 100%;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.clients {
    padding: 3rem 0;
    text-align: center;
}

.clients-title h3 {
    color: blueviolet;
    font-size: 2rem;
    font-weight: lighter;
    text-shadow: rgb(190, 50, 255) 0 0 10px;
}

.clients-title p {
    color: rgb(0, 0, 0);
    margin: 1rem ;
}

.client-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    text-align: left;
}
.clients-img {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    
}


.clients-img img {
    width: 25%;
    aspect-ratio: 1 / 1 ;
    object-fit: cover; 
    border-radius: 100%;
    margin: 1rem;
  }
  
  .newslatter {
    background: url(https://images8.alphacoders.com/119/1197467.jpg) ;
    background-size: cover;
    background position: center ;
    box-shadow: inset 0 0 0 2000px rgb(0 , 0, 0 , 0.7) ;
    height : 250px;
  }

  .newslatter-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 250px;
    color: white;
    margin-right: 1rem;
  }

  
  .newslatter-title h3 {
    font-size: 2rem;
    font-weight: lighter;
    text-shadow: rgb(190, 50, 255) 0 0 10px;
  }


  .newslatter input {
    padding: 0.5rem;
    width: 350px;
    border: none;
    border-radius: 5px;
}

.newslatter  button {
    padding: 0.5rem;
    width: 150px;
    background-color: rgb(190, 3, 190);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 1rem;
}


footer{
    background-color: rgb(255, 185, 255);
    padding: 1rem;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    text-shadow: black 0 0 10px;
}

.footer-menu ul{
    list-style: none;
    display: flex;
}

.footer-menu li {
    margin-right: 1rem ;
}       

.footer-menu ul li a {
    text-transform: uppercase;
}